marshmallow
flask
numpy
scipy
sklearn
py4j
pytz==2017.2
https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.0.4.tar.gz
PyYAML==3.12
matplotlib
fastdtw
addict
flask-restplus
Flask-OAuthlib